workflows/check_ip_blacklist.json
{
  "name": "ip check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "8ba86a9a-98fe-47e3-9358-e5e97c5ed0d5",
      "name": "Запуск 1 раз в сутки",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1168,
        -2704
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "=https://api.abuseipdb.com/api/v2/check?ipAddress={{ $json.ip }} ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "e3602a73-eb32-4b5f-89d8-22c7f3dec46e",
      "name": "Запит до Blacklist API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1168,
        -2352
      ],
      "typeVersion": 4.2,
      "credentials": {
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "30182fcb-5f61-460c-a444-c1e1feecc245",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.averageScore }}",
              "rightValue": 50
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "445d1ed9-3d18-4680-96a8-246f42c59b7c",
      "name": "В чорному списку?",
      "type": "n8n-nodes-base.if",
      "position": [
        -1008,
        -2192
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "const dnsResponse = $input.first().json.Answer;\nconst domain = $input.first().json.Question[0].name.replace(/\\.$/, ''); // прибираємо крапку в кінці\n\n// Створюємо масив об’єктів, по одному для кожного IP\nreturn dnsResponse.map(a => {\n  return { \n    json: { \n      domain: domain, \n      ip: a.data \n    } \n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        -2560
      ],
      "id": "f5502897-6f24-4cc5-ab2b-18cc068e2d82",
      "name": "ір"
    },
    {
      "parameters": {
        "url": "=https://dns.google/resolve?name={{ $json.dommains }}&type=A ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1168,
        -2528
      ],
      "id": "37f95f34-2b9b-400b-aa7f-00b8751001af",
      "name": "запит на dns"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77694c29-5c74-428c-8a48-496be753acad",
              "name": "=data",
              "value": "={{ $json.data }}",
              "type": "object"
            },
            {
              "id": "ac75a9e5-16a8-48ad-bdb4-2cf8599940f4",
              "name": "domain",
              "value": "={{ $('ір').item.json.domain }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        -2384
      ],
      "id": "22416b68-90dc-4cd0-ae8f-7974655cae26",
      "name": "дані"
    },
    {
      "parameters": {
        "jsCode": "const grouped = {};\n\n// Групуємо по домену та сумуємо abuseConfidenceScore\nitems.forEach(item => {\n    const domain = item.json.domain;\n    const score = item.json.data.abuseConfidenceScore || 0;\n\n    if (!grouped[domain]) {\n        grouped[domain] = {\n            totalScore: 0,\n            count: 0\n        };\n    }\n\n    grouped[domain].totalScore += score;\n    grouped[domain].count += 1;\n});\n\n// Перетворюємо на масив для n8n\nreturn Object.keys(grouped).map(domain => ({\n    json: {\n        domain: domain,\n        totalScore: grouped[domain].totalScore,\n        averageScore: grouped[domain].count > 0 ? (grouped[domain].totalScore / grouped[domain].count) : 0\n    }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        -2160
      ],
      "id": "72c72096-a14c-47e9-98f6-71cc3dcca562",
      "name": "групуємо"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1936b62-1bbd-48c1-b0f7-f3ab92bc70e4",
              "name": "dommains",
              "value": " [\"n8n.io\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        -2752
      ],
      "id": "87bba56b-6b87-4339-8b69-29635a5d72dc",
      "name": "домени"
    },
    {
      "parameters": {
        "chatId": "=тут вставити чат ід",
        "text": "=🚨 *ТЕРМІНОВО* 🚨 *{{ $json.domain }} має рейтинг {{ $json.averageScore }}*.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -784,
        -2288
      ],
      "id": "b31fc858-4d6a-448d-9b4c-4e2f4111c2a8",
      "name": "Message to tg",
      "webhookId": "9bbe2743-f3c5-4caa-8420-343d86d0f060",
      "credentials": {
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Запуск 1 раз в сутки": {
      "main": [
        [
          {
            "node": "домени",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запит до Blacklist API": {
      "main": [
        [
          {
            "node": "дані",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "В чорному списку?": {
      "main": [
        [
          {
            "node": "Message to tg",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "ір": {
      "main": [
        [
          {
            "node": "Запит до Blacklist API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "запит на dns": {
      "main": [
        [
          {
            "node": "ір",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дані": {
      "main": [
        [
          {
            "node": "групуємо",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "групуємо": {
      "main": [
        [
          {
            "node": "В чорному списку?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "домени": {
      "main": [
        [
          {
            "node": "запит на dns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f0edd85b-62b6-422a-88d9-6e9c17f52dc2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4c23a816965dd7142d39c31f3ac0263da3d17c48e067f721567e0849a8b61549"
  },
  "id": "XQoTCNvg9vxy6QEw",
  "tags": []
}