workflows/free-veo3-300$.json
{
  "name": "FREE Veo 3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        640,
        192
      ],
      "id": "d840e56f-4ae6-488d-aea9-8027f6ab0538",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "## Veo 3 FREE",
        "height": 464,
        "width": 1248,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        -32
      ],
      "typeVersion": 1,
      "id": "9cc63c6c-e3ec-445b-92ce-fa5898f7e555",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/veo-3.0-fast-generate-preview:predictLongRunning",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"instances\": [\n    { \"prompt\": \"a video of bigfoot in the forest\" }\n  ],\n  \"parameters\": { \"aspectRatio\": \"16:9\" }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        32
      ],
      "id": "8ae3e41a-4f56-4f43-9aa7-f11df70e84a9",
      "name": "Veo 3 Fast"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1024,
        192
      ],
      "id": "b60930b8-ed5d-4c9e-b1cf-356f5f455ca2",
      "name": "Чекаєм 1хв",
      "webhookId": "779a6bc1-e69d-4f3d-a795-0885ebe624d8"
    },
    {
      "parameters": {
        "url": "={{ $json.response.generateVideoResponse.generatedSamples[0].video.uri }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        176
      ],
      "id": "43387a58-1e73-481f-a391-afeee6757a41",
      "name": "Результат"
    },
    {
      "parameters": {
        "url": "=https://generativelanguage.googleapis.com/v1beta/{{ $json.name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        192
      ],
      "id": "8971ff6c-5fcb-48a5-8921-e11bcbf672d5",
      "name": "запит статусу"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a978781f-9dfc-4220-8b30-aafa1d6b9f6f",
              "leftValue": "={{ $json.done }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1328,
        192
      ],
      "id": "b27d025d-2a50-4f21-9292-41f6e473dd98",
      "name": "готово чи ні?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/veo-3.0-generate-preview:predictLongRunning",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"instances\": [\n    { \"prompt\": \"a video of bigfoot in the forest\" }\n  ],\n  \"parameters\": { \"aspectRatio\": \"16:9\" }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        192
      ],
      "id": "9c54b5ef-4475-4e9e-8dea-301f6bfee100",
      "name": "Veo 3"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Veo 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Veo 3 Fast": {
      "main": [
        []
      ]
    },
    "Чекаєм 1хв": {
      "main": [
        [
          {
            "node": "запит статусу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "запит статусу": {
      "main": [
        [
          {
            "node": "готово чи ні?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "готово чи ні?": {
      "main": [
        [
          {
            "node": "Результат",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Чекаєм 1хв",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Veo 3": {
      "main": [
        [
          {
            "node": "Чекаєм 1хв",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "28a470a2-fe0f-41c6-975b-a3e1e6b1dddb",
  "meta": {
    "instanceId": "4c23a816965dd7142d39c31f3ac0263da3d17c48e067f721567e0849a8b61549"
  },
  "id": "18fP3DE9ICqHsEoM",
  "tags": []
}