workflows/rag-agent.json
{
  "name": "RAG Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {},
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "15ZkZjrpBxDVWUWOoH2V4_84oHIsCQajw",
          "mode": "list",
          "cachedResultName": "knowledge database",
          "cachedResultUrl": "https://drive.google.com/drive/folders/15ZkZjrpBxDVWUWOoH2V4_84oHIsCQajw"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "a8f5778f-048f-43e2-8b0a-1994617b40b5",
      "name": "New File",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -3088,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('New File').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "drawingsToFormat": "application/pdf",
              "slidesToFormat": "application/pdf",
              "sheetsToFormat": "application/pdf"
            }
          }
        }
      },
      "id": "68317f0e-a05f-4425-b278-264c7e0fe71d",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -2800,
        144
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "# Завантаження файлів\n\n",
        "height": 80,
        "width": 400,
        "color": 4
      },
      "id": "5776ef50-de14-49b8-8896-1bd2f31e056d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3200,
        -64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "c7b49f14-72ec-4564-8100-1cd8706f2fac",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -2608,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Завантаження та отримання тексту\n\n",
        "height": 260,
        "width": 460,
        "color": 5
      },
      "id": "db1b0cf7-a9e3-42bf-ba3a-e69a6157e90c",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2880,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {},
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "15ZkZjrpBxDVWUWOoH2V4_84oHIsCQajw",
          "mode": "list",
          "cachedResultName": "knowledge database",
          "cachedResultUrl": "https://drive.google.com/drive/folders/15ZkZjrpBxDVWUWOoH2V4_84oHIsCQajw"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "d387deb8-be23-4679-a566-f3adec30fb7f",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -3120,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('File Updated').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "drawingsToFormat": "application/pdf",
              "slidesToFormat": "application/pdf",
              "sheetsToFormat": "application/pdf"
            }
          }
        }
      },
      "id": "14d72c00-423a-4974-b28f-2b7e13964a98",
      "name": "Download File1",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -2448,
        800
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "# Оновлення файлів\n",
        "height": 80,
        "width": 380,
        "color": 4
      },
      "id": "c63f4e99-3db1-4031-99c4-5d25a65e9ecb",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3216,
        608
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Моніторим зміну файлів\n \n",
        "height": 260,
        "width": 340,
        "color": 5
      },
      "id": "d0c6b089-a7ba-48e3-b477-1974abea5f59",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3216,
        720
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "12b8a751-38f4-4323-8b6b-faaf23cc4182",
      "name": "Extract from File1",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -2272,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Моніторим нові файли\n",
        "height": 260,
        "width": 300,
        "color": 5
      },
      "id": "4a7523f4-9cbe-4378-8afe-d039e67b9c83",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3200,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Видалення старої інфи\n \n",
        "height": 260,
        "width": 300,
        "color": 5
      },
      "id": "d9f3fd2d-a0c2-4e11-b1c0-79dd06db9bc9",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2848,
        720
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "5e96743e-8e09-4979-b0a9-83bd8bda8bfe",
      "name": "Transcribe",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -4752,
        224
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234",
              "name": "text",
              "type": "string",
              "value": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "268761e4-0536-44c6-afd8-4ba36611d76e",
      "name": "Text",
      "type": "n8n-nodes-base.set",
      "position": [
        -4848,
        416
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "281588e5-cab1-47c7-b42a-f75b8e7b659e",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "8c844924-b2ed-48b0-935c-c66a8fd0c778",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "id": "237fd0af-09bf-4bc0-a3c1-921fed5978ba",
      "name": "Voice or Text",
      "type": "n8n-nodes-base.switch",
      "position": [
        -5152,
        368
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "4904918b-9fdc-47fa-8f9a-b1c782b15127",
      "name": "Response",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -3680,
        336
      ],
      "webhookId": "5dced4b9-5066-4036-a4d4-14fc07edd53c",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Аудіо чи текст\n\n",
        "height": 460,
        "width": 680,
        "color": 5
      },
      "id": "c74b2c19-f1a4-466d-a87f-cfb298d07564",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5216,
        176
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Загальний опис  \nТи — розумний помічник, який спеціалізується на допомозі користувачам із налаштуванням, використанням та усуненням несправностей електронних і пристроїв.  \n\n# Джерело інформації  \nТи використовуєш векторну базу знань (manual_tool), яка містить інструкції з експлуатації, керівництва з налаштування, поширені запитання та поради з вирішення проблем.\n\n# Поведінка агента  \n- Відповідай **виключно на основі знайденої інформації** з векторної бази.  \n- Якщо база не повертає результатів — чітко скажи, що не знайшов потрібної інформації.  \n- **Не вигадуй** відповідей, якщо відповідного фрагмента в базі немає.  \n- Будь лаконічним, точним і структурованим.  \n- Якщо доречно — подавай інструкції списком кроків.\n\n# Формат відповіді  \n- Якщо інструкція знайдена — коротко опиши її.  \n- Якщо не знайдена — напиши:  \n  `\"Не вдалося знайти відповідні інструкції для цього запиту.\"`\n\n# Приклад запиту  \n> Як скинути налаштування смарт-розетки TP-Link?\n\n# Приклад відповіді  \n> Згідно з інструкцією:  \n> - Натисніть і утримуйте кнопку живлення протягом 5 секунд, доки індикатор не почне блимати жовтим і синім.  \n> - Відпустіть кнопку.  \n> - Пристрій перейде в режим налаштування."
        }
      },
      "id": "c51620ce-33c2-4cf1-9ca4-15eb05cfa717",
      "name": "RAG Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -4336,
        336
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "35cfa579-1b23-4d0c-ac65-c4b75a329cea",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -5440,
        368
      ],
      "webhookId": "2e5e253b-982e-4fe3-8048-b64897e77535",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "cbd255fe-d988-4a70-bad9-1f5c05e93459",
      "name": "Download File2",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -4928,
        224
      ],
      "webhookId": "83bb7385-33f6-4105-8294-1a91c0ebbee5",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "# Агент\n",
        "height": 80,
        "width": 280,
        "color": 4
      },
      "id": "874af4d6-3bb3-45aa-a45f-8511de508b3d",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5488,
        80
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Повідомлення\n",
        "height": 260,
        "width": 280,
        "color": 5
      },
      "id": "0efd80b0-be19-4f1a-8ec1-f7ec16aa03da",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5520,
        304
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## RAG \n\n",
        "height": 860,
        "width": 720,
        "color": 5
      },
      "id": "95ee34e8-472b-4638-84cc-b216fc089b65",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4512,
        176
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Відповідь\n",
        "height": 260,
        "width": 320,
        "color": 5
      },
      "id": "1c5ef403-7441-4e9e-a6f4-084f7f1eb4a8",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3776,
        288
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "18528d4d-de23-4dc5-9b7b-bd0d86ae5f77",
      "name": "OpenAI Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -4448,
        544
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2272,
        320
      ],
      "id": "7d390a04-4fff-4406-a6d3-1e94520eaa87",
      "name": "Embeddings OpenAI2"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Extract from File').item.json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('New File').item.json.id }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('New File').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -2176,
        320
      ],
      "id": "74092a5a-f811-4910-9c37-6d28ecbaf649",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -2160,
        464
      ],
      "id": "cbb5fd9d-f276-46d0-a9ef-3578a5dc4bbe",
      "name": "Recursive Character Text Splitter2"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "imagesn8n",
          "mode": "list",
          "cachedResultName": "imagesn8n"
        },
        "options": {
          "pineconeNamespace": "company_files"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        -2256,
        144
      ],
      "id": "034d1854-c36c-4e6c-8805-d99f89017c78",
      "name": "Pinecone Vector Store"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=<pinecone_host>/vectors/delete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key",
              "value": "="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"namespace\": \"company_files\",\n  \"filter\": {\n    \"file_id\": { \"$eq\": \"{{ $json.id }}\" }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2752,
        800
      ],
      "id": "0be4bb07-4deb-4ed5-8cc6-3fb3fd366d08",
      "name": "delete data from vector store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1952,
        1024
      ],
      "id": "043976a9-8924-4c5e-b5a8-9a121305c0e3",
      "name": "Embeddings OpenAI3"
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('File Updated').item.json.id }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('File Updated').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -1840,
        1024
      ],
      "id": "c6dab870-afb6-44e4-919c-899605f45e28",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -1808,
        1184
      ],
      "id": "b71cde29-b726-43fd-907a-d365867d3e1f",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "imagesn8n",
          "mode": "list",
          "cachedResultName": "imagesn8n"
        },
        "options": {
          "pineconeNamespace": "company_files"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        -1952,
        800
      ],
      "id": "e70bc0e8-235b-4f58-881f-d5d1f994efff",
      "name": "Pinecone Vector Store2"
    },
    {
      "parameters": {
        "content": "## Завантаження та отримання тексту\n\n",
        "height": 260,
        "width": 460,
        "color": 5
      },
      "id": "3d22ad38-ebfa-4aff-bc53-1a11241c2d96",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2528,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Збереження в базі",
        "height": 620,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2032,
        720
      ],
      "typeVersion": 1,
      "id": "139b7ead-d8ee-4a33-adef-0343ed012fac",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Збереження в базі",
        "height": 620,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2352,
        16
      ],
      "typeVersion": 1,
      "id": "3b4eb23f-0d31-48de-90ab-c2cd2855ced5",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "manual_tool",
        "toolDescription": "Інструмент векторної бази в якій зберігаються інструкції до різних пристроїв.",
        "pineconeIndex": {
          "__rl": true,
          "value": "imagesn8n",
          "mode": "list",
          "cachedResultName": "imagesn8n"
        },
        "topK": 10,
        "options": {
          "pineconeNamespace": "company_files"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        -4112,
        544
      ],
      "id": "558ba246-f885-43b4-988e-926d24d05407",
      "name": "Pinecone Vector Store3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -4080,
        704
      ],
      "id": "9ace7094-e8ee-4d62-9a5f-781380a705ae",
      "name": "Embeddings OpenAI1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -4240,
        560
      ],
      "id": "cb5b4c06-6907-45ad-a16b-936d212f8988",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Text": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New File": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "delete data from vector store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice or Text": {
      "main": [
        [
          {
            "node": "Download File2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File2": {
      "main": [
        [
          {
            "node": "Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Voice or Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter2": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "delete data from vector store": {
      "main": [
        [
          {
            "node": "Download File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store3": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a138664-12c5-476c-9cc6-1eb67448d554",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4c23a816965dd7142d39c31f3ac0263da3d17c48e067f721567e0849a8b61549"
  },
  "id": "C4OTTAZ7xRD4Qv8u",
  "tags": []
}